* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    /* top right bottom left */
    margin: 15px 30px;
}

nav {
    position: absolute;
    transform: translateY(-50%); /* trasladar el elemento */
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 0 10px;
}

nav a {
    background-color: rgb(255, 239, 22);
    color: black;
    padding: 8px;
    text-decoration: none; /* LINEA DEBAJO DEL TEXTO LINK */
    border: 1px solid black;
    border-radius: 5px;
}

.active {
    background-color: rgb(61, 122, 61);
    color: white;
}

#header_img {
    height: 200px;
    width: 100%;
    background-image: url(../design2_image1.jpg);
    background-position: center; /* ORIGEN EN EL MEDIO */
    background-size: cover; /* ALTURA O ANCHA MINIMA */
}

main {
    position: relative; /* PARA QUE EL FONDO SE POSICIONA ACA */
    flex: 1;
}

main h2 {
    background-color: rgb(61, 122, 61);
    color: white;
    text-align: center;
    padding: 8px;
    font-size: 20px;
}

#main_img {
    /* CTRL + / */
    /* CTRL + X */
    /* para que el elemento se maneja de manera independiente */
    position: absolute; 
    top: 0; /* DEFINICON DEL ORIGEN */
    left: 0; /* COMPENSACION DEL MARGIN */
    background-image: url(../hockey_1.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1; /* PONER LA IMAGEN EN LA ULTIMA CAPA (ABAJO) */
}

#main_logo_y_articulo {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

#main_logo_y_articulo > img {
    width: 200px;
    height: 200px;
}

article {
    padding: 10px 0;
}

article p {
    text-indent: 20px; /* CREAR ESPACIO AL PRINCIPIO DE UN PÁRRAFO */
}